@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.cm-diff-added {
  background-color: rgba(34, 197, 94, 0.15) !important;
}

.cm-diff-removed {
  background-color: rgba(239, 68, 68, 0.15) !important;
}
